VelocityDenominator = 10 ; VelocityDenominator is by how much to divide the time the jump was primed to get the jump velocity
VelocityXMultiplier = 2  ; VelocityXMultiplier is by how much to multiply the Y velocity to get the velocity for the X axis, it's usually bigger
MaxPrime            = 5  ; MaxPrime is the maximum jump level (after division) you can prime the cricket to jump for, it avoids you jumping off the screen
